[ghq]
	root = ~/work
[user]
	name = 2355
	email = mitkit.a01@gmail.com
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true

[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections
    dark = true      # or light = true, or omit for auto-detection
    line-numbers = true

[merge]
    conflictStyle = zdiff3
